.maincontainer{
    /* display: flex; */
    flex-wrap: wrap;
    padding: '10px';
};

.submitDialog{
    display: flex;
    flex-direction: column;
};

.submitDialogTextArea{
    border: 1px solid reba(0,0,0,0.082);
    margin:1vmax;
    outline: none;
    padding: 1rem;
    font: 300 1rem "Roboto";
}


    
