.ProfileContainer{
          background-color: rgb(235, 238, 242);
          overflow: hidden;

}


.subProfileContainer{
          width: 80%;
          margin: auto;
          display: flex;
          justify-content: space-between;
          margin-left: 14%;
}

@media screen and (max-width:900px) {
          .subProfileContainer{
                    width: 90%;
                    margin: auto;
                    display: block;
                    justify-content: space-between;
          } 
         
      }