.mainDiv{
background-color: rgb(0, 0, 0);
display: flex;
flex-wrap: wrap;
 width: 100%; 
 margin: auto; 
 justify-content: center;
  margin-top: 20px;
border-radius: 10px  ; 


}

.submainDiv{
background-color: rgb(213, 220, 228);
width: 310px;
margin: 13px;
border-radius: 10px;
padding: 10px;
}

