.mainDiv{
background-color: rgb(0, 0, 0);
display: flex;
flex-wrap: wrap;
 width: 100%; 
 margin: auto; 
 justify-content: center;
  margin-top: 20px;
  border-radius: 10px; 
}

.mainCatTitle{
  justify-content: center; 
  color: rgb(255, 255, 255);
  font-weight: 600; 
  display: flex;
  margin-top: -8px;
}
.catsubmainDiv{
  background-color: rgba(137, 125, 134, 0.39);
  width: 236px;
  margin-left: 6px;
  margin-right: 8px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(128, 128, 128);
}
/* .catsubmainDiv{
background-color: rgba(137, 125, 134, 0.39);
width: 230px;
margin-left: 5px;
margin-top: 5px;
border-radius: 10px;
padding: 10px;
} */

.mainCatImage{
  width: 100%; 
  border-radius:1px; 
  height:220px;
  object-fit: cover;
  margin-top: -12px;
  border-radius: 10px;
}

@media screen and (max-width:952px) {
  .catsubmainDiv{
    width: 190px;
    }
  
}

@media screen and (max-width:499px) {
    .catsubmainDiv{
      width: 135px;
      margin-left: 3px;
      margin-right: 3px
   }
    .mainCatImage{
      width: 100%; 
      border-radius:1px; 
      height:122px;
    }
    .mainCatTitle{
      font-size: 12px;
    }
  
}
